/* .arrow-up {
  margin-top:  2vh;
}*/

.navbar{
    display: flex;
    color: white;
    background-color: #00aa03;
    height: 70px;
    transform: rotate(0,0,50px);
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    left: 20px;
  }
  /*  .navComponents{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 8px;
      padding-right: 8px;
      
     
  }
  
   .btn {
      background-color: #F45060;
      border: none;
      color: white;
      /* padding: 10px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -ms-transform: skewX(-14deg);
      -webkit-transform: skewX(-14deg);
      transform: skewX(-14deg);
      padding-left: 5px;
    } */
     .dropdown {
      display: inline-block;
      position: relative;
      
    }
     .dropdown-content {
      display: none;
      position: absolute;
      overflow: auto;
      box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
      background-color: #7d9dfc;
      z-index: 1200 !important;
      /* -ms-transform: skewX(-14deg);
      -webkit-transform: skewX(-14deg);
      transform: skewX(-14deg); */
    }
      .dropdown:hover .dropdown-content {
      display: block;
    }
    
       .dropdown-content a {
      display: block;
      color: #000000;
      padding: 5px;
      text-decoration: none;
    }
      .dropdown-content a:hover {
      color: #FFFFFF;
      background-color: #00A4BD;
    }
.cancel_icon{
  width: 20px;
  height: 20px;
}
    